@font-face {
    font-family: "Kanit";
    src: url("../font/Kanit/Kanit-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Karla";
    src: url("../font/Karla/static/Karla-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}


* {
    margin: 0;
    padding: 0;

}

body {
    font-size: 16px;
    line-height: 1.5;
    min-height: 220rem;
}

h1 {
    font-size: 8em;
    font-family: "Karla", serif;
    font-weight: 700;
    line-height: normal;
    padding: 9rem;
}

h2 {
    font-size: 2em;
    font-family: "Karla", serif;
    font-weight: 700;
    line-height: normal;
    padding: 1rem 9rem;
}

p {
    font-size: 1.25em;
    font-family: "Kanit", serif;
}

header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #91445F;
    border-bottom: black solid;
    z-index: 1;
}

header ul {
    padding-right: 8rem;
}

li {
    display: inline;
    list-style: none;
}

a {
    color: #20BEE6;
    text-decoration: none;
    font-size: 1.5em;
    padding-right: 1em;
    font-family: "Karla", serif;
}

a:hover {
    color: darkorange;
}


.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    background-color: #91445F;
    height: 50rem;
}

button {
    width: 15.375rem;
    height: 3.25rem;
    flex-shrink: 0;
    border-radius: 1.875rem;
    border: 5px solid #20BEE6;
    background-color: transparent;
    font-size: 1rem;
    color: #20BEE6;
    font-family: "Kanit", serif;
}

button:hover {
    color: darkorange;
    cursor: pointer;
}

.div-button {
    padding: 0 9rem;
}

#news {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60rem;
    background: url("../images/face-landscape.webp"), lightgray 50% / cover no-repeat;
}

#news-card {
    position: absolute;
    height: 16rem;
    width: 28rem;
    padding: 4rem;
    background-color: #E6D520;
    top: 70rem;
    right: 55rem;
}

#news-info {
    font-family: "Kanit", serif;
    font-size: 1.5rem;
}

#news-info a {
    font-size: 2rem !important;
}

address {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #20BEE6;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 0.75rem;
    top: -30px;
    left: 270px;
    text-align: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

#work {
    margin: 50px auto;
    width: 50%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 30px;
}

.image-box img {
    width: 100%;
}

.image-box:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

#about {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 64.875rem;
    height: 40em;
    margin: 0 auto;

}

#contact {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #91445F;
    height: 34em;
    padding: 40px;
}

.contact-form {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 40rem;
    padding: 30px;
}

input {
    font-family: "Kanit", serif;
    background-color: #20BEE6;
    color: black;
    width: 17rem;
    height: 2rem;
    border-radius: 15px;
    text-indent: 5px;
    margin: 15px;
}

textarea {
    font-family: "Kanit", serif;
    text-indent: 10px;
    background-color: #20BEE6;
    color: black;
    height: 6rem;
    width: 25rem;
    border-radius: 15px;
    margin: 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: "Kanit", serif;
    color: black;
    opacity: 1; /* Firefox */
}

#form-button {
    background-color: transparent;
    font-size: 1.25rem;
    color: #20BEE6;
    font-family: "Kanit", serif;
}

#form-button:hover {
    color: darkorange;
    cursor: pointer;
}


footer {
    background-color: #91445F;
    padding: 25px;
    text-align: center;
    color: black;
    border-top: black solid;
}

#fmpberger {
    font-size: 1em !important;
}

@media only screen and (max-width: 950px) {


    header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        margin: 0 auto;
    }

    header ul {
        padding: 1rem;
    }

    nav {
        margin: 0 20px;
        width: 80%;
    }

    h1 {
        font-size: 4rem;
        padding: 2rem 4rem;
    }

    h2 {
        padding: 2rem 4rem;
    }

    ul {
        width: 100%;
    }

    a {
        padding-left: 20px;
        font-size: 1.25rem;
    }

    .div-button {
        padding: 0 4rem;
    }

    #news {
        background-size: cover;
        background-repeat: no-repeat;
        height: 28rem;
    }

    #news-card {
        position: relative;
        height: auto;
        top: 13rem;
        left: 0;
        width: auto;
    }

    #news-info {
        font-family: "Kanit", serif;
        font-size: 1rem;
    }

    #news-info a {
        font-size: 2rem !important;
    }

    address {
        display: none;
    }

    #work {
        height: 50rem;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 60px;
        row-gap: 30px;
    }

    .image-box img {
        width: 100%;
    }

    .image-box:hover {
        transform: scale(1.7);
        transition: transform 0.3s ease-in-out;
    }

    #about {
        margin: 10px auto;
        width: 80%;
        height: 68rem;
    }

    #about p {
        font-size: 1rem !important;
    }

    #contact {
        height: 36rem;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    input {
        width: 14rem;
    }

    textarea {
        width: 14rem;
    }
}

@media only screen and (max-width: 460px) {


    header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        position: relative;
        margin: 0 auto;
    }

    nav {
        margin: 0 20px;
        width: 100%;
    }

    h1 {
        font-size: 4rem;
        padding: 2rem 4rem;
    }

    h2 {
        padding: 2rem 4rem;
    }

    ul {
        width: 100%;
    }

    a {
        padding-right: 12px;
        font-size: 1.25rem;
    }

    .div-button {
        padding: 0 4rem;
    }

    #news {
        background-size: cover;
        background-repeat: no-repeat;
        height: 28rem;
    }

    #news-card {
        position: relative;
        height: auto;
        top: 14rem;
        left: 0;
        width: auto;
    }

    #news-info {
        font-family: "Kanit", serif;
        font-size: 1rem;
    }

    #news-info a {
        font-size: 2rem !important;
    }

    address {
        display: none;
    }

    #work {
        height: 150rem;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .grid-container .image-box img {
        width: 100%;
    }

    .image-box:hover {
        transform: scale(1.7);
        transition: transform 0.3s ease-in-out;
    }

    #about {
        margin: 10px auto;
        width: 80%;
        height: 73rem;
    }

    #about p {
        font-size: 1rem !important;
    }

    #contact {
        height: 36rem;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    input {
        width: 14rem;
    }

    textarea {
        width: 14rem;
    }
}


.bubble {
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    opacity: 0;
    animation: floatUp 5s ease-in forwards;
    width: 80%;
}

@keyframes floatUp {
    0% {
        bottom: 0;
        opacity: 1;
    }
    100% {
        bottom: 100%;
        opacity: 0;
    }
}

.cookie-popup {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50%;
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
    display: none;
    z-index: 2;
}

.cookie-popup p {
    margin: 0;
    padding-right: 10px;
}

.footer-a {
    font-size: 1em !important;
}

.cookie-popup button {
    width: 130px;
    padding: 5px 10px;
}

.cookie-popup button:hover {
    color: darkorange;
    cursor: pointer;
}
